<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Enter A New Message</h1>
    <form method="post" action="/new">
        <label for="nameText">From:</label>
        <input type="text" name="nameText"><br>
        <label for="messageText">Message:</label>
        <textarea row="20" cols="20" maxlength="100" minlength="2" name="messageText"></textarea><br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>