<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <a href="/new">-> Make a new message</a>
    <ul style="list-style: none;">
      <% messages.map((message) => { %>
      <li>
        <strong><%= message.user %></strong><br>
        <%= message.text %><br> 
        <%= message.added %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
